@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Merriweather', sans-serif;
}

.autoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
}
